/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












/*My own css start here*/

.container {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px 1fr;
}

.side-panel {
  box-sizing: border-box;
  background-color: #2563eb;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.logo {
  display: flex;
  flex-direction: row;
  xborder: 3px solid purple;
}

.icon {
  padding: 15px;
}

h1 {
  font-size: 28px;
  align-self: center;
  color: white;
}

.navigation {
  display: grid;

}

.navigation2 {
  display: grid;
  margin-top: 50px;
}

.nav-choice {
  display: flex;
  margin: 20px;
}

.nav-choice > p {
  margin-left: 20px;
  color: white;
  font-size: 18px;

}

.up-panel {
  box-sizing: border-box;
  border: 3px solid yellow;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.content-panel {
  box-sizing: border-box;
  border: 3px solid red;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 670px;
}